* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.page-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}
.dev-title-container {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 300px;
}
.social-links {
  /* width: 10%; */
  padding: 10px;
  text-align: right;
  justify-content: flex-end;
  
}

.name-title {
  width: 60%;
  padding: 10px;
  margin-left: 100px;
  user-select: none;
}
.my-name {
  font-size: 2.5rem;
  line-height: 50px;
  text-align: left;
  letter-spacing: 40px;
  font-family: 'Open Sans', sans-serif;
  animation: 2s slidein-left;
}
@keyframes slidein-left {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}
@keyframes slidein-right {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}
.sd-title {
  font-size: 4rem;
  text-align: left;
  color: #66fafa;
  font-family: 'Titillium Web', sans-serif;
  animation: 2s slidein-right;
}
.fa-brands {
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  height: 50px;
  margin: 20px;
  background-color: black;
  color: #66fafa;
}
a {
  text-decoration: none;
}
#letsTalk {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: #66fafa;
  letter-spacing: 5px;
  border: 1px dashed white;
  border-radius: 10px;
  padding: 5px;
  animation: 2s slidein-left;
}
#letsTalk:hover {
  transform: scale(1.1);
}
#letsTalkButton {
  font-family: 'Open Sans', sans-serif;
  color: #66fafa;
  border: 1px dashed white;
  border-radius: 10px;
  background-color: black;
  margin-top: 10px;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 5px;
  font-weight: bolder;
}
#letsTalkButton:hover {
  transform: scale(1.1);
}










