
.name-title {
  letter-spacing: 40px;
  font-size: 1.5rem;
  text-align: center;
 
}
.home-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
  /* border: green 5px solid; */
  margin-top: 100px;
}
.dev-title-container {
  width: 50%;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 4rem;
  
}

